@import "modules/bootstrap-overrides";
@import "modules/svg-icon";
@import "modules/datagrid";
@import "modules/forms";
@import "modules/page-break-link";
@import "modules/table-of-contents";

/* Position Bootstrap modal dialogs statically */
.modal {
  &.static {
    position: static;
    display: block;
    margin: 0 auto;
    overflow: auto;

    .modal-footer {
      margin-top: 0;
      border-top: none;
    }
  }
}
