@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$system-list-group-item-padding: ($spacer * 0.5) ($grid-gutter-width * 0.5) !default;
$system-list-group-item-link-text-color: $list-group-action-color !default;
$system-list-group-item-link-hover-bg-color: $list-group-hover-bg !default;

$bs-pagination-margin: 0 0 ($spacer * 0.5) !default;

.list-group-item {
  &.dropdown {
    padding: 0;
  }

  > a {
    display: block;
    padding: $system-list-group-item-padding;
    color: $system-list-group-item-link-text-color;
    text-decoration: none;

    &:hover {
      background-color: $system-list-group-item-link-hover-bg-color;
    }
  }
}
