$system-datagrid-mass-action-column-width: 5% !default;
$system-datagrid-data-range-column-width: 22% !default;
$system-datagrid-cta-column-width: 7% !default;
$system-datagrid-cta-button-spacing: 3px !default;

.datagrid {
  .datagrid-column__mass-action {
    width: $system-datagrid-mass-action-column-width;
  }

  .datagrid-column__date-range {
    width: $system-datagrid-data-range-column-width;
  }

  th.datagrid-column__actions {
    text-indent: -9999em;
  }

  .datagrid-column__actions {
    width: $system-datagrid-cta-column-width;
  }

  .datagrid-column__action-buttons {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;

    .btn {
      margin-left: $system-datagrid-cta-button-spacing;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  tr:hover,
  tr.table-info {
    .datagrid-column__action-buttons {
      visibility: visible;
    }
  }
}
