/*
 * Copyright (c) by the ACP3 Developers.
 * See the LICENSE file at the top-level module directory for licensing details.
 */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$forms-required-star-text-color: inherit !default;

.col-form-label,
.form-label {
  &.required {
    &::after {
      color: $forms-required-star-text-color;
      content: " *";
    }
  }
}

input,
textarea {
  &[placeholder] {
    font-style: italic;
  }
}

/* Inline validation errors */
.validation-failed {
  margin: floor($grid-gutter-width * 0.5) 0 0;
}
