/*
 * Copyright (c) by the ACP3 Developers.
 * See the LICENSE file at the top-level module directory for licensing details.
 */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$system-toc-margin: ($spacer * 0.25) ($spacer * 0.5) ($spacer * 0.5) 0 !default;

#toc {
  float: left;
  width: 20%;
  margin: $system-toc-margin;
}
